



#body {
	background-color:inherit;
	
}

#header, #footer {
	background-color:#adc4d9;
	width:100%;
	height:60px;
	margin-right:0px;
	padding-right: 0px;
	border-top: 1px solid #549290;
	border-bottom: 1px solid #549290;
	border-left: 5px solid #666666;
	border-right: 5px solid #666666;
	
}
#header{
	
	margin-bottom:1px;
	margin-top:10px;
}

mark{
    background-color:darkgoldenrod;
  
}

h3{
	font-size:28px;
	line-height:30px;
	padding-left: 10px;
    margin:10px;
	
}

h2{
	font-size:20px;
	color:#1c5a8c;
	padding-left: 20px;
  
}

p{
	padding-left:20px;
	padding-right:20px;
	line-height:22px;
    text-align:left;
}





a:link ,a:visited {
color:#6B4900;
font-size:17px;
font-weight: bolder;
text-decoration:underline;
padding-left:0px;

}

a:hover,a:focus {
color:#6B4900;
text-decoration:underline


}


#logo{
	
	margin-top:6px;
    margin-left:-50px;
    
	
	
}


#logo img{
    margin-left:50px;
    top:0px;
}

#main {
	
	background:#ebebeb;
	
	
}



#menu{
	
	background-color: grey;
	width: 100%;
	height: 55px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
    padding-right:20px;
	
	
}

#signup a, img{
	font-size:30px;
    margin-left:20px;
	text-decoration:none;
	font-weight:600;
}

#signup a:hover{
	
	text-decoration:underline;
}


#menu a{
	background:#2d667d;
	border:0;
	color:#FFF;
	cursor:pointer;
	font-weight:300;
	text-decoration:none;
	float:left;
	margin-right:6px;
	padding:8px 10px;
	
}

#menu a:hover{
	
	color:#0089AB;
	text-decoration:none;
}
#menu a:focus{
	
	background:#468eab;
	color:#FFF;
	text-decoration:none;
}


.columm{
	float:left;
	width:33.33%;
	padding:5px;
	text-align:center;
	
	border-color:black;
	border-style: solid;
	border-width: 1px;
}

.row::after{
	content:"";
	display:table;
	clear:both;
	
	
}

.desc{
	text-align:center;
}

.button {
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:green;
}

#payment-gateway{
		
	margin-top:70px;
	margin-left:35px;
	width:430px;
	
}
	
.tablink {
	
  background-color: #555;
  color: black;
	font-weight: 500;
  float: left;
  border: solid 1px black;
	margin-top:0px;
  outline: none;
  cursor: pointer;
  padding: 8px 8px;
  font-size: 15px;
	width:33.33%;
	
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  border:solid black 2px;
	
	color: black;
  display: none;
 padding:100px;
  text-align: center;
	height:380px;
	
}

#BTC {background-color:white;}
#ETH {background-color:white;}
#DOGE {background-color:white;}


#orderprice_btc{
    text-align:center;
	color:black;
    left:168px;
    position:absolute;
	float:left;
	border: 1px black solid;
	border-radius:3px;
	background-color: #f0f0f0;
	height:20px;
	width:180px;
	top:475px;
	font-weight:bold;
}


#orderprice_btc1{
    text-align:center;
    top:505px;
    left:215px;
    position:absolute;
	float:left;
	color:black;
}


#orderprice_eth{
    text-align:center;
	color:black;
    left:168px;
    position:absolute;
	float:left;
	border: 1px black solid;
	border-radius:3px;
	background-color: #f0f0f0;
	height:20px;
	width:180px;
	top:475px;
	font-weight:bold;
}


#orderprice_eth1{
    text-align:center;
    top:505px;
    left:215px;
    position:absolute;
	float:left;
	color:black;
}

#orderprice_doge{
    text-align:center;
	color:black;
    left:168px;
    position:absolute;
	float:left;
	border: 1px black solid;
	border-radius:3px;
	background-color: #f0f0f0;
	height:20px;
	width:180px;
	top:475px;
	font-weight:bold;
}


#orderprice_doge1{
    text-align:center;
    top:505px;
    left:215px;
    position:absolute;
	float:left;
	color:black;
}







.container_box{
	
    
    
    
    margin: 20px;
	margin-top:50px;
    width:455px;
	height:400px;
    
}


.quote img{
	
	width: 160px;
	height: 160px;
    margin-top:-85px;
    display: block;
  	margin-left: 13px;
  	margin-right: auto;
	margin-bottom:10px;
  	z-index:100;
		
}

.ordernum{
    font-size:18px;
	color:black;
	font-weight:400;
    
    left:295px;
    position:absolute;
    margin-top:-35px;
	z-index:50;
	
    
}

#copytoclipboard{
    position:absolute;
    left:410px;
    top:440px;
    width: 22px;
    cursor: pointer;
    z-index:10;
	
    
}








.desc1{
	
	text-align:center;
    font-weight:bold;
}

*{
	box-sizing:border-box;
}

.container{
	width:100%;
}
		
.progressbar{
	counter-reset:stop;
}
		
.progresbar li{
	list-style-type: none;
	float: left;
	width: 33.33%;
	position: relative;
	text-align: center;
}

.progressbar li:before {
	content: counter[stop];
	counter-increment: stop;
	width: 20px;
	height: 20px;
	line-height:30px;
	border:1px solid #ddd;
	display:block;
	text-align:center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color:white;
	
	
	
}


li {
    font-weight:bold;
    line-height: 22px;
    text-align:left;
    padding-right:20px;
	
	
	
	
	
	
}

ul{
    line-height: 22px;
    text-align:left;
    
}



.progressbar li:after {
	content: '';
	position: absolute;
	width:100%;
	height:1px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progressbar li:first-child:after{
	content: none;
}


.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
    margin-left:10px;
    
    
}
.accordion-item {
  
  color: #111;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    background-color: #adc4d9;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  background-color:white;
}





.commentBx{
    
    border: solid 2px black;
    box-sizing:border-box;
    margin:5px;
    width: 650px;
    height:120px;
  
    
    
}

.author{
	font-size:15px;
	color:black;
	font-weight:400;
  	border:1px solid black;
	border-radius:3px;
	background-color: #f0f0f0;
	width: 352px;
	height:22px;
	padding-top:2px;
	

}

.author{
	position:absolute;
	left:72px;
	top:440px;
}

.author_eth{
	font-size:15px;
	color:black;
	font-weight:400;
  	border:1px solid black;
	border-radius:3px;
	background-color: #f0f0f0;
	width: 352px;
	height:22px;
	padding-top:2px;
	

}

.author_eth{
	position:absolute;
	left:72px;
	top:440px;
}

.author_doge{
	font-size:15px;
	color:black;
	font-weight:400;
  	border:1px solid black;
	border-radius:3px;
	background-color: #f0f0f0;
	width: 352px;
	height:22px;
	padding-top:2px;
	

}

.author_doge{
	position:absolute;
	left:72px;
	top:440px;
}

.author-pic img{
    padding:0;
    margin:0;
    margin-right:20px;
    float:left;
    
}



.author-name{
    color:darkblue;
    font-weight: bolder;
    font-size: 18px;
    padding-top:14px;
    
}

.comment-content{
    padding:15px 10px;
    clear:left;
}

.comment-button a{
	background:#2d667d;
	border:0;
	color:#FFF;
	cursor:pointer;
	font-weight:300;
	text-decoration:none;
	float:right;
    margin-top:15px;
	
	padding:4px 5px;
	
}

.comment-button a:hover{
	
	color:#0089AB;
	text-decoration:none;
}
.comment-button a:focus{
	
	background:#468eab;
	color:#FFF;
	text-decoration:none;
}




.leaveBx{
    padding:20px;
    border: 2px black solid;
    width:400px;
    margin:25px;
}

.leaveBx h1{
    font-size:20px;
    
}

.leaveBx h2{
    font-size:15px;
    color:black;
    font-weight:100;
    padding:0;
}

.tutorialBx{
    border: 3px inset dimgrey;
    background-color: black;
    height:40px;
    width:100%;
	
	
	
	
    
}

.tutorialBx a{
    color:green;
    font-weight:100;
    font-size:26px;
    text-decoration:none;
    padding-left:30px;
}

.tutorialBx:hover{
    background-color:darkslategrey;
    color:yellow;
    
}

.tutorialBx a:hover{
    color:yellow;
}


.t1{
    border: 2px grey double;
   
	
	
	padding-left:20px;
	padding-right:20px;
	line-height:22px;
    text-align:left;
}




.virtualcard-box ol{
	
	margin-left:20px;
	margin-right:50px;
}


td, th {
	border:solid 1px black;
	
}





fieldset {
    font-family: sans-serif;
    border: 2px solid #1F497D;
    background: #ddd;
    border-radius: 4px;
    padding: 10px;
	width:100%;
	margin-bottom:8px;
	margin-top:4px;
}

fieldset legend {

    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 20px;
}


fieldset li{
	margin-left: -40px;
}

#buy{
	background-color:forestgreen;
	width: 120px;
	height:35px;
	margin:30px;
	font-size:20px;
	color:black;
}

#buy:hover{
	
	background-color:green;
	
}


fieldset select{
	width:200px;
	padding:5px;
}



#label-qty{
	width:55px;
	margin-left:20px;
	font-size:18px;
	padding-left:18px;
}

#footer{

	border-color:#666666;
	border-style:solid;
    margin-top:150px;
    
}


#footertext {
	
	font-size:16px;
	text-align:center;
    padding-top:8px;
    line-height:14px;

}



#footertext a{
    text-decoration:none;
    padding-right:10px;
    font-size: 15px;
}

.payment-details h3{
	color:red;
	font-size:16px;
	
}



/** Comment Section Customer Review Start**/

.commentBox{

	margin-left:30px;
	padding:10px;
	width:45%;
	border: 1px solid grey;
	background-color:antiquewhite;
}

.commentBox span{
	font-weight: 700;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
}

.commentBox p{
	padding-left:0px;
}

.commentBox img{
	margin-left:0px;
}

span.date{
	text-decoration: underline;
	font-style: normal;
	color: saddlebrown;
	
	
}

.leftPanelImg{
	width:50px;
	height:50px;
	
	background-color:white;
	float:left;
}

.rightPanel{
	width:80%;
	height:auto;
	float:left;
	margin-left:10px;
	padding:8px;
}

.clear{
	clear:both;
}


#addComment{
	
	background-color:whitesmoke;
	width: 150px;
	height:35px;
	margin-top:10px;
	margin-bottom:50px;
	font-size:12px;
	color:black;

}

#name{
	width: 270px;
	height: 30px;
	font-size: 16px;
	padding:0;
	margin-top:8px;
	
}

#bodyText{
	width: 420px;
	height: 100px;
	margin-top:8px;
	font-size: 14px;
	
}

#form{
	background-color: lightgrey;
	border:1px black solid;
	width:470px;
	padding-left:30px;
	margin-top:40px;
	margin-left:30px;
}


/** Comment Section Customer Review End**/

@media screen and (max-width:896px)
{
	#logo{
	
	margin-top:6px;
    	margin-left:-55px;	
	}
	#logo img{
	width:100%;
	margin-top:8px;
	
		
	}
	
	.columm{
	float:left;
	width:100%;
	padding:30px;
	text-align:center;
	
	border-color:black;
	border-style: solid;
	border-width: 1px;
	}
	
.tutorialBx a{
    color:green;
    font-weight:100;
    font-size:19px;
    text-decoration:none;
    padding-left:10px;
	
	width:100%;
}
	   
.virtualcard-box ol{
	
	margin-left:20px;
	margin-right:50px;
	clear:left;
}
	
#footertext {
	
    font-size:12px;
    text-align:center;
    padding-top:8px;
    line-height:14px;

}



#footertext a{
    text-decoration:none;
    padding-right:10px;
    font-size: 14px;
}
	


body {
font-family: "Lato", sans-serif;
}

.author{
	font-size:15px;
	color:black;
	font-weight:400;
  	border:1px solid black;
	border-radius:3px;
	background-color: #f0f0f0;
	width: 352px;
	height:22px;
	padding-top:4px;
	

}

.author{
	position:absolute;
	left:180px;
	top:550px;
}


#orderprice{
    
    bottom:100px;
    left:12px;
    
	float:left;
}
	
#payment-gateway{
		
	margin-top:40px;
	margin-left:10px;
	margin-right:10px;
	width:350px;
	
}
	
.tabcontent {
  border:solid black 2px;
	color: black;
  display: none;
 padding:5px;
  text-align: center;
	height:300px;
	
	
}
	
.quote img{
	
	width: 160px;
	height: 160px;
    margin-top:-10px;
    display: block;
  	margin-left: 70px;
  	margin-right: auto;
	margin-bottom:5px;
  	z-index:100;
		
}
	
.ordernum{
    font-size:16px;
    left:190px;
    position:absolute;
    margin-top:-28px;
	z-index:50;
	
    
}
	
#orderprice_btc{
    
    left:105px;
    position:absolute;
	float:left;
	height:20px;
	width:180px;
	top:400px;
	padding-top:2px;
	font-size:12px;
}


#orderprice_btc1{
   	font-size:12px;
    top:428px;
    left:160px;
    position:absolute;
	float:left;

}

#orderprice_eth{
    
    left:105px;
    position:absolute;
	float:left;
	height:20px;
	width:180px;
	top:400px;
	padding-top:2px;
	font-size:12px;
}


#orderprice_eth1{
   	font-size:12px;
    top:428px;
    left:160px;
    position:absolute;
	float:left;

}
	
#orderprice_doge{
    
    left:105px;
    position:absolute;
	float:left;
	height:20px;
	width:180px;
	top:400px;
	padding-top:2px;
	font-size:12px;
}


#orderprice_doge1{
   	font-size:12px;
    top:428px;
    left:160px;
    position:absolute;
	float:left;

}
	
#copytoclipboard{
    position:absolute;
    left:315px;
    top:370px;
    width: 22px;
    cursor: pointer;
    z-index:10;
	
    
}
	
.author{
	font-size:12px;

	border-radius:3px;
	background-color: #f0f0f0;
	width: 290px;
	height:22px;
	padding-top:3px;
	

}

.author{
	position:absolute;
	left:40px;
	top:370px;
}

.author_eth{
	font-size:12px;

	border-radius:3px;
	background-color: #f0f0f0;
	width: 290px;
	height:22px;
	padding-top:3px;
	

}

.author_eth{
	position:absolute;
	left:40px;
	top:370px;
}

.author_doge{
	font-size:12px;

	border-radius:3px;
	background-color: #f0f0f0;
	width: 290px;
	height:22px;
	padding-top:3px;
	

}

.author_doge{
	position:absolute;
	left:40px;
	top:370px;
}

	/** Comment Section Customer Review Start**/

.commentBox{

	margin-left:10px;
	padding:10px;
	width:95%;
	border: 1px solid grey;
	background-color:antiquewhite;
}


.rightPanel{
	width:75%;
	height:auto;
	float:left;
	margin-left:10px;
	padding:5px;
}




#addComment{
	
	background-color:whitesmoke;
	width: 150px;
	height:35px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:12px;
	color:black;

}

#name{
	width: 270px;
	height: 30px;
	font-size: 16px;
	padding:0;
	margin-top:8px;
	
}

#bodyText{
	width: 270px;
	height: 100px;
	margin-top:8px;
	font-size: 14px;
	
}
	
.commentBox span{
	font-weight: 700;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

.commentBox p{
	padding-left:0px;
	font-size:14px;
}

.commentBox img{
	margin-left:0px;

}

span.date{
	text-decoration: underline;
	font-style: normal;
	color: saddlebrown;
	
	
}

#form{
	background-color: lightgrey;
	border:1px black solid;
	width:300px;
	padding-left:10px;
	margin-top:20px;
	margin-left:10px;
}


/** Comment Section Customer Review End**/
	
}



